.beheerNav-section {
  position: relative;
  z-index: 9999;
  margin: 80px 0;
  background: grey;
  .beheerNav {
    background: red;

    a {
      float: left;
    }
  }
}

.editorJs {
  background: grey;
  img {
    height: auto;
    width: 400px;
  }
}
