@import "../mixin";
.biosDetails-section {
  padding: 130px 0;

  p {
    padding: 15px 30px 15px 0;
    margin: 0 auto;
  }

  .detailContent {
    padding: 50px 0;
  }
}

.detailImg {
  margin: 50px 0;
  width: 100%;
  border-radius: 10px;
}

.beschikbare-tijden-container{
  display: flex;
flex-flow: row wrap;
}

.vrijePlaatsen {
  background-color: #C4E538;
  border-radius: 5px;
  max-width: 450px;
  padding: 20px;
  margin: 40px auto;
  font-size: 1.1em;

  @include respond-to('tablet') {
    font-size: 1.3em;
  }
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
