.header {
  margin-left: -1px;
  width: 100%;
}

.navbar {
  padding: 0 !important;
  height: 80px;
  background-color: #1C2331 !important;
  position: fixed !important;
  z-index: 9 !important;
  width: 100% !important;
  top: 0 !important;
  div{
    ul{
      background-color: #1C2331;
      text-align: center;
      padding: 10px;
      li{
        text-align: center;
        a{
          color: white !important;
        }
      }
    }
  }
}

.logo-container{
  max-width: 50%;
  z-index: 100 !important;
  position: fixed;
  top: 0 !important;
}

.logo{

  z-index: 10;
  height: auto;
  max-width: 150%;
}

.navbar-toggler{
  margin-right: 20px;
}

.navbar-collapse {
  z-index: 99;
}