.header {
  margin-left: -1px;
  width: 100%;
}

.navbar {
  padding: 0 !important;
  height: 80px;
  background-color: #1C2331;
  div{
    ul{
      li{
        a{
          color: white !important;
        }
      }
    }
  }
}

.logo-container{
  max-width: 50%;
  z-index: 100 !important;
  position: absolute;
}

.logo{

  z-index: 10;
  height: auto;
  max-width: 100%;
}