body {
  //background-color: #2ecc71 !important;
}

.hero {
  width: 100%;

  img {
    max-height: 650px;
  }
}

.home-section {
  margin: 100px 0;
  padding: 20px;

  .home-text {
    font-size: 1.5em;
  }

  img {
    border-radius: 15px;
  }
}

.home-button-top-space{
  margin-top: 30px;
}