
body {
  //background-color: #2ecc71 !important;
}

.hero {
  width: 100%;

  img {
    max-height: 650px;
  }
}

.heroTitle {
  background-color: rgb(0,0,0,0.7) !important;
  //background-color: #1C2331;
  padding: 50px;
  color: white;
  border-radius: 10px;
}


/* DEMO-SPECIFIC STYLES */
h1 {
  color: #fff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .03em; /* Adjust as needed */
  animation:
          typing 3.5s steps(30, end),
          blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

//.typed_wrap {
//  display: block;
//  -webkit-transform: translate(-50%,-50%);
//  -moz-transform: translate(-50%,-50%);
//  -ms-transform: translate(-50%,-50%);
//  -o-transform: translate(-50%,-50%);
//  transform: translate(-50%,-50%);
//}
//
//
///*Add custom cursor so it auto inherits font styles*/
//.typed::after {
//  content: '|';
//  display: inline;
//  -webkit-animation: blink 0.7s infinite;
//  -moz-animation: blink 0.7s infinite;
//  animation: blink 0.7s infinite;
//}
//
///*Removes cursor that comes with typed.js*/
//
//.typed-cursor {
//  opacity: 1;
//  -webkit-animation: blink 0.7s infinite;
//  -moz-animation: blink 0.7s infinite;
//  animation: blink 0.7s infinite;
//}
//@keyframes blink {
//  0% { opacity: 1; }
//  50% { opacity: 0; }
//  100% { opacity: 1; }
//}
//@-webkit-keyframes blink {
//  0% { opacity: 1; }
//  50% { opacity: 0; }
//  100% { opacity: 1; }
//}
//@-moz-keyframes blink {
//  0% { opacity: 1; }
//  50% { opacity: 0; }
//  100% { opacity: 1; }
//}

.home-section {
  margin: 100px 0;
  padding: 20px;

  .home-content {

    .home-text {
      font-size: 1.5em;
    }

    img {
      border-radius: 15px;
    }
  }
}

.home-button-top-space {
  margin-top: 30px;
}

@media only screen and (max-width: 768px) {
  .home-section {
    margin: 30px 0 30px 0;
    padding: 20px;

    .home-content {
      .home-content-image {
        margin-bottom: 30px;
      }
    }
  }

}
